 h1{
    font-size: 100px;
    font-family: Helvetica;
    color: khaki;
    left: 50px;
    text-align: center;
    background-image: url("C:/Projects/Project2_html/ressources/images/pattern.jpeg");
    
 }
 

#brush{
background-color: mediumspringgreen;
color: white;
font-size: 32px;
font-weight: bold;

}
#frame{
background-color: lightcoral;
color: white;
font-size: 32px;
font-weight: bold;

}
#paint{
background-color: skyblue;
color: white;
font-size: 32px;
font-weight: bold;
}

span{
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}
